.form-container {
  position: relative;
  /* background: rgb(15, 15, 15); */
  /*350*/
  width: 350px;
  /*420*/
  height: 420px;
  margin: 40px 30px;
  /* padding: 2em; */
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  color: white;
  transition: 0.5s;
}

.form-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 87.5px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.form-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 87.5px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  /* transform-origin: center; */
  transform: skewX(15deg);

  transition: 0.5s;
  filter: blur(30px);
}

.form-container:hover::before,
.form-container:hover::after {
  transform: skewX(0deg);
  left: 37px;
  width: calc(100% - 90px);
}

.form-container:nth-child(1)::before,
.form-container:nth-child(1)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.form-container span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}

.form-container span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form-container:hover span::before {
  top: -50px;
  left: 50;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.form-container span::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  animation-delay: -1s;
}

.form-container:hover span::after {
  bottom: -50px;
  right: 50;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.form-container .content {
  position: relative;
  left: 0;
  padding: 50px 40px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.form-container:hover .content {
  left: -10px;
  padding: 60px 40px;
}

.form-container .form-heading {
  /* color: #ff416c; */
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 0.1em;
  margin-bottom: 0.5em;
  text-align: center;
}

.box {
  margin: 0.2em 0;
}

.form-container .box div {
  position: relative;
  width: 100%;
  height: 40px;
  /* margin: 0.5em 0; */
}

.form-container .box input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  border: none;
  outline: none;
  /* padding: 0 15px; */
  /* padding-left: 20px; */
  border-radius: 35px;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  transition: all 0.4s;
}

.form-container .box input::placeholder {
  text-align: center;
  color: white;
}

.ipBtn {
  width: 102%;
  height: 2.5em;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 12px;
  /* margin: 3em 0 0.5em 0; */
  transform: translate(-1%);
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  transition: all 0.4s;
}

.ipBtn:hover {
  transform: translate(-1%, 5%);
  box-shadow: 0 0 10px #ebb22c;
}

@media screen and (max-width: 425px) {
  .form-container {
    width: 300px;
    height: 360px;
  }
  .form-container::before,
  .form-container::after {
    left: 75px;
  }
}
